body {
  background-color: #1d2630;
}

.container {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  margin-top: 80px;
  width: 90%;
}

.header {
  padding: 10px 20px;
  background-color: #f8f9fa;
  box-shadow: 0 4px 2px -2px gray;
  display: flex;
  align-items: center;
  border-radius: 10px;
}
.logo {
  max-height: 60px;
}
.header-text {
  margin-left: 20px;
}
.header-text .clinic-name {
  font-size: 24px;
  font-weight: bold;
}
.header-text .clinic-subtitle {
  font-size: 16px;
  color: gray;
}

th,
td {
  text-align: center;
}

.transparent {
  background-color: transparent !important;
}

#invoiceDate {
  width: 100%;
}
#totalAmount {
  font-weight: bold;
  font-size: 18px;
  text-align: right;
  width: 100%;
}

#invoiceDate {
  width: 100%;
}

.btn {
  margin: 0;
  white-space: nowrap;
}

.label {
  font-weight: bold;
}

.col-description {
  width: 40%;
}

.col-quantity {
  width: 15%;
}

.col-unit-price {
  width: 20%;
}

.col-total {
  width: 20%;
}

.col-action {
  width: 5%;
}

/* Menghilangkan semua garis pada tfoot */
tfoot,
tfoot tr,
tfoot td {
  border: none !important;
  border-top: none !important;
  border-bottom: none !important;
}

/* Jika ada garis pada seluruh table */
table {
  border-collapse: collapse; /* Optional: ini memastikan semua border bergabung */
}

/* Menghapus garis khusus pada table jika masih ada */
table td,
table th {
  border: none !important;
}

/* Pastikan tombol-tombol berada di kiri */
tfoot td.align-middle.text-start {
  text-align: left;
}

/* Menyelaraskan input diskon dan total amount ke kanan */
tfoot td.text-end {
  text-align: right;
}

@media (max-width: 767px) {
  .row.align-items-center .col-md-6 {
    margin-bottom: 10px;
  }
}
